.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(10,78,36,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Nama__NIM_Fakultas_PRODI__Kela {
	left: 665px;
	top: 377px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,222,132,1);
	text-transform: capitalize;
}
#_Muh_Khalilurrahman__200001842 {
	left: 862px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 815px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: italic;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,222,132,1);
	text-transform: capitalize;
}
#BIODATA_DIRI {
	left: 646px;
	top: 115px;
	position: absolute;
	overflow: visible;
	width: 748px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 101px;
	color: rgba(255,222,132,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(156,226,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1812px;
	height: 5px;
	left: 54px;
	top: 251.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Myfoto {
	position: absolute;
	width: 372px;
	height: 370px;
	left: 187px;
	top: 355px;
	overflow: visible;
}
#Khalilrahman04 {
	left: 120px;
	top: 909px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,222,132,1);
	text-transform: lowercase;
}
#rkhalil4602gmailcom {
	left: 120px;
	top: 980px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,222,132,1);
	text-transform: lowercase;
}
#Icon_metro-instagram {
	fill: rgba(255,222,132,1);
}
.Icon_metro-instagram {
	overflow: visible;
	position: absolute;
	width: 43.267px;
	height: 43.267px;
	left: 52.55px;
	top: 905px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-email {
	fill: rgba(255,222,132,1);
}
.Icon_material-email {
	overflow: visible;
	position: absolute;
	width: 46.959px;
	height: 38.534px;
	left: 52.55px;
	top: 974.733px;
	transform: matrix(1,0,0,1,0,0);
}